callback1001(
{
	"items":
    [
        {% for job in jobs %}
        {
            "text": "{{ job['title']|e }}",
            "id": "{{ job['number'] }}",
            "strapline": "{{ job['date'] }}",
            "info": "{{ job['description'] }}",
            "url": "{{ job['url'] }}",
            "leaf": "true",
            "model": "job"
        },
        {% endfor %}
	]
});